@import "style.css";

main {
  width: 100%;
  height: auto;
  background-image: none;
  font-family: 'Hind Madurai', sans-serif;
  color: var(--tabsH);
}

.centre {
  width: 75%;
  margin: auto;
}

.about {
  display: table;
  clear: both;
  content: '';
  margin: 10% 5%;
  width: 90%;
}

.section1 img,
.section3 img {
  width: 33%;
  float: left;
  margin-right: 100px;
}

.section2 img,
.section4 img {
  width: 33%;
  float: right;
  margin-left: 100px;
}

.centre p {
  width: 100%;
  text-shadow: 1px 0px 20px;
}

#contact {
  color: var(--tabsH);
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  text-align: center;
  margin-top: 20%;
}

@media (max-width: 414px) {
  .section4 {
    font-size: .7em;
  }

  .about {
    text-align: center;
    margin: 25px 0;

  }

  .centre img {
    float: none;
    display: block;
    margin:  30px auto;
  }
}
