@import "style.css";

main {
  width: 100%;
  min-height: calc(100vh - 385px);
  background-image: none;
  font-family: 'Hind Madurai', sans-serif;
}

.product {
  width: 70%;
  margin: 50px auto;
}

.product img {
  max-width: 45%;
  max-height: calc(100vh - 400px);
  float: left;
  margin-right: 140px;
  border-radius: 10%;
}

a {
  color: var(--tabsH);
}

.contactme {
  margin-left: 15%;
}

@media(max-width: 414px) {

  main {
    /* display: none; */
    /* height: auto; */
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product h2 {
    text-align: center;
  }

  .product img{
    margin: auto;
  }
  .contactme {
    margin-left: 0px;
    margin-top: 25px;
  }
}
